<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="editRecipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" formControlName="name" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image Path</label>
                        <input class="form-control" id="imagePath" formControlName="imagePath" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img class="img-responsive" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="6"
                            formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row" *ngFor="let ingredient of controls; let i = index">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" [formGroupName]="i">
                        <div class="col-xs-8">
                            <input class="form-control" formControlName="ingredientName" type="text" />
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" formControlName="amount" type="text" />
                        </div>
                        <div class="col-xs-2">
                            <button class="btn btn-danger" type="button">X</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>